.oggetto_restituito {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#cont-contenuto {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    min-height: 100px;
    visibility: hidden;
}

#cont-bottoneinvio {
    text-align: center;
    margin-top: 20px;
    visibility: visible;
}

button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#bottoneinvio {
    background-color: #4cafad;
    color: white;
}

#bottoneinvio:hover {
    background-color: #1c5b5a;
}

#bottoneindietro {
    background-color: #af6b4c;
    color: white;
}

#bottoneindietro:hover {
    background-color: #ff5304;
}

body {
    background-color: #faffe0;
    margin: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}